= form_tag profile_status_path(profile), :remote => true, :id => :status_form do
  = label_tag :status, profile.status.length > 0 ? profile.status : "[Set status]", 
    :id => :status_label, :class => :status_label
  = text_field_tag :status , profile.status, :id => :status_input