#lightbox_gallery
  - photos.each do |photo|
    .photo_thumb_container
      = link_to photo.image(:for_gallery), :class => :gallery_item do
        %img{:src => photo.image(:thumb)}
        %p
          = truncate(photo.comment, :length => 16)
      - if can? :manage, photo
        .photo_controls
          = link_to 'Edit', edit_photo_path(photo)
          = link_to 'Delete', photo, :method => :delete